<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signature Verification</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .centered-container {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }
        .form-wrapper{
            height: 50vh;
        }
    </style>
</head>
<body>
    <div class="d-flex align-items-center justify-content-center centered-container">
        <div class="d-flex col-sm-5 align-items-center flex-column border rounded border-light shadow-lg p-3 mb-5 bg-body rounded form-wrapper">
            <h1>Signature Verification</h1>
            <form id="signatureForm" enctype="multipart/form-data" class="d-flex flex-column align-items-center justify-content-center">
                <div class="d-flex justify-content-center m-3">
                    <label for="file1">Original Image:</label>
                    <input type="file" id="file1" name="file1" required>
                </div>
                <br>
                <div class="d-flex justify-content-center m-3">
                    <label for="file2">Test Image:</label>
                    <input type="file" id="file2" name="file2" required>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Verify Signature</button>
            </form>
            <p id="result"></p>
        </div>
    </div>
    <script>
        document.getElementById('signatureForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const formData = new FormData();
            formData.append('file1', document.getElementById('file1').files[0]);
            formData.append('file2', document.getElementById('file2').files[0]);

            fetch('/predict', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    document.getElementById('result').textContent = `Error: ${data.error}`;
                } else {
                    document.getElementById('result').textContent = `Result: ${data.is_genuine}`;
                }
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('result').textContent = `Error: ${error}`;
            });
        });
    </script>
</body>
</html>
